Linear[[:space:]]Algebra.goodnotes filter=lfs diff=lfs merge=lfs -text
pdf[[:space:]]vision filter=lfs diff=lfs merge=lfs -text
Linear[[:space:]]Algebra[[:space:]](Practice).goodnotes filter=lfs diff=lfs merge=lfs -text
